<section class="container">
  <div class="row justify-content-center">
    <div class="col-md-3"></div>
    <!-- Columna central -->
    <div class="center-column col-6">
      <section class="payment-form">
        <div class="row justify-content-center">
          
          <h2 style="text-align: center;">Pago con tarjeta de crédito/débito</h2>
          <img
            src="https://github.com/izipay-pe/Imagenes/blob/main/logo_tarjetas_aceptadas/logo-tarjetas-aceptadas-351x42.png?raw=true"
            alt="Tarjetas aceptadas"
            style="width: 200px"
          />
        </div>
        <hr />
        <div id="micuentawebstd_rest_wrapper">
          <div class="kr-embedded" kr-popin="true"></div>
        </div>
      </section>
    </div>
    <div class="col-md-3"></div>
  </div>
</section>
